[Unit]
Description=Ksuperkey which handle meta key release event
Documentation=http://kde-apps.org/content/show.php/ksuperkey?content=154569

[Service]
ExecStart=/usr/bin/ksuperkey -d
Restart=on-failure
ProtectSystem=full
ProtectHome=read-only

[Install]
WantedBy=graphical.target
