[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Aetf/ucw.nvim.git
	branch = main
	update = rebase
[submodule ".local/share/zathura/base16-zathura"]
	path = .local/share/zathura/base16-zathura
	url = https://github.com/HaoZeke/base16-zathura.git
	branch = main
[submodule ".config/work"]
	path = .config/work
	url = sso://user/pfyu/dotfiles
	branch = main
	update = rebase
