.config/npm/npmrc filter=git-crypt diff=git-crypt
**/mail.rc filter=git-crypt diff=git-crypt
**/mail.d/** filter=git-crypt diff=git-crypt
.config/gmailctl/credentials.json filter=git-crypt diff=git-crypt
.config/gmailctl/token.json filter=git-crypt diff=git-crypt
.config/chored/secrets/** filter=git-crypt diff=git-crypt
.config/kube/config filter=git-crypt diff=git-crypt
.config/gw-config/backups/** filter=git-crypt diff=git-crypt
.config/gw-config/secrets/** filter=git-crypt diff=git-crypt
.config/dmarc-check/env filter=git-crypt diff=git-crypt
.config/adguardhome-sync/env filter=git-crypt diff=git-crypt
.config/deepseek/env filter=git-crypt diff=git-crypt
