[Match]
Name=kvmbr0

[Network]
DHCP=yes

IPForward=no
MulticastDNS=no
IPv6AcceptRA=yes

# https://wiki.archlinux.org/title/Systemd-networkd#Wired_and_wireless_adapters_on_the_same_machine
[DHCPv4]
RouteMetric=10
[IPv6AcceptRA]
RouteMetric=10
