<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>Command</key>
	<string></string>
	<key>Default Bookmark Guid</key>
	<string>543CBD32-8C66-4BB9-9173-F518E7CF2041</string>
	<key>DisableFullscreenTransparency</key>
	<true/>
	<key>DoubleClickPerformsSmartSelection</key>
	<true/>
	<key>FlashTabBarInFullscreen</key>
	<true/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000-0x30</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x9-0x40000-0x30</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf700-0x260000-0x7e</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf701-0x260000-0x7d</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf702-0x260000-0x7b</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf703-0x260000-0x7c</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideFromDockAndAppSwitcher</key>
	<true/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyTermAnimationDuration</key>
	<real>0.10000000149011612</real>
	<key>LeftCommand</key>
	<integer>2</integer>
	<key>LeftOption</key>
	<integer>7</integer>
	<key>MaxVertically</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_543CBD32-8C66-4BB9-9173-F518E7CF2041</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_543CBD32-8C66-4BB9-9173-F518E7CF2041_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.30978869999999997</real>
				<key>Green Component</key>
				<real>0.30978869999999997</real>
				<key>Red Component</key>
				<real>0.30978869999999997</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059999999999</real>
				<key>Green Component</key>
				<real>0.4235294</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67277030000000004</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.80941479999999999</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7996491</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9982605</real>
				<key>Green Component</key>
				<real>0.86277559999999998</real>
				<key>Red Component</key>
				<real>0.71165029999999996</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99652090000000004</real>
				<key>Green Component</key>
				<real>0.61330589999999996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99703969999999997</real>
				<key>Green Component</key>
				<real>0.87631029999999999</real>
				<key>Red Component</key>
				<real>0.87591359999999996</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059999999999</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.65882350000000001</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71372550000000001</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99607840000000003</real>
				<key>Green Component</key>
				<real>0.79607839999999996</real>
				<key>Red Component</key>
				<real>0.58823530000000002</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215690000000001</real>
				<key>Green Component</key>
				<real>0.4509804</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99607840000000003</real>
				<key>Green Component</key>
				<real>0.77254900000000004</real>
				<key>Red Component</key>
				<real>0.77647060000000001</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93353169999999996</real>
				<key>Green Component</key>
				<real>0.93353169999999996</real>
				<key>Red Component</key>
				<real>0.93353169999999996</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4862745</real>
				<key>Green Component</key>
				<real>0.4862745</real>
				<key>Red Component</key>
				<real>0.4862745</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69019609999999998</real>
				<key>Green Component</key>
				<real>0.71372550000000001</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>85</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059999999999</real>
				<key>Green Component</key>
				<real>0.64705880000000005</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<true/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>543CBD32-8C66-4BB9-9173-F518E7CF2041</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x43-0x60000-0x8</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Copy
Copy</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x46-0x60000-0x3</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Find...
Find.Find...</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x4b-0x60000-0x28</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Clear Buffer
Clear Buffer</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x56-0x60000-0x9</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Paste
Paste</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x74-0x40000-0x11</key>
				<dict>
					<key>Action</key>
					<integer>27</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>48F5074F-8A3F-4E96-AF2F-40FE3CB79237</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Left Option Key Changeable</key>
			<false/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>ComicCodeLigaturesNF-Regular 16</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>34</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.94760049999999996</real>
				<key>Green Component</key>
				<real>0.94760049999999996</real>
				<key>Red Component</key>
				<real>0.94760049999999996</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51530609999999999</real>
				<key>Green Component</key>
				<real>0.22248570000000001</real>
				<key>Red Component</key>
				<real>0.20990739999999999</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use libtickit protocol</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>0.90000000000000002</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/pfyu</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.30978869999999997</real>
				<key>Green Component</key>
				<real>0.30978869999999997</real>
				<key>Red Component</key>
				<real>0.30978869999999997</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059999999999</real>
				<key>Green Component</key>
				<real>0.4235294</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67277030000000004</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.80941479999999999</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7996491</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9982605</real>
				<key>Green Component</key>
				<real>0.86277559999999998</real>
				<key>Red Component</key>
				<real>0.71165029999999996</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99652090000000004</real>
				<key>Green Component</key>
				<real>0.61330589999999996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99703969999999997</real>
				<key>Green Component</key>
				<real>0.87631029999999999</real>
				<key>Red Component</key>
				<real>0.87591359999999996</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059999999999</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.65882350000000001</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71372550000000001</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99607840000000003</real>
				<key>Green Component</key>
				<real>0.79607839999999996</real>
				<key>Red Component</key>
				<real>0.58823530000000002</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215690000000001</real>
				<key>Green Component</key>
				<real>0.4509804</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99607840000000003</real>
				<key>Green Component</key>
				<real>0.77254900000000004</real>
				<key>Red Component</key>
				<real>0.77647060000000001</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93353169999999996</real>
				<key>Green Component</key>
				<real>0.93353169999999996</real>
				<key>Red Component</key>
				<real>0.93353169999999996</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4862745</real>
				<key>Green Component</key>
				<real>0.4862745</real>
				<key>Red Component</key>
				<real>0.4862745</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69019609999999998</real>
				<key>Green Component</key>
				<real>0.71372550000000001</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blend</key>
			<real>0.5</real>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>2</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>170</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059999999999</real>
				<key>Green Component</key>
				<real>0.64705880000000005</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<true/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>48F5074F-8A3F-4E96-AF2F-40FE3CB79237</string>
			<key>Has Hotkey</key>
			<true/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>HotKey Activated By Modifier</key>
			<false/>
			<key>HotKey Alternate Shortcuts</key>
			<array>
				<dict>
					<key>characters</key>
					<string></string>
					<key>charactersIgnoringModifiers</key>
					<string>`</string>
					<key>keyCode</key>
					<integer>50</integer>
					<key>modifiers</key>
					<integer>524288</integer>
				</dict>
			</array>
			<key>HotKey Characters</key>
			<string>`</string>
			<key>HotKey Characters Ignoring Modifiers</key>
			<string>`</string>
			<key>HotKey Key Code</key>
			<integer>50</integer>
			<key>HotKey Modifier Activation</key>
			<integer>0</integer>
			<key>HotKey Modifier Flags</key>
			<integer>1048576</integer>
			<key>HotKey Window Animates</key>
			<true/>
			<key>HotKey Window AutoHides</key>
			<true/>
			<key>HotKey Window Dock Click Action</key>
			<integer>0</integer>
			<key>HotKey Window Floats</key>
			<true/>
			<key>HotKey Window Reopens On Activation</key>
			<false/>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x43-0x60000-0x8</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Copy
Copy</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x46-0x60000-0x3</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Find...
Find.Find...</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x4b-0x60000-0x28</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Clear Buffer
Clear Buffer</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x56-0x60000-0x9</key>
				<dict>
					<key>Action</key>
					<integer>25</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>Paste
Paste</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x74-0x40000-0x11</key>
				<dict>
					<key>Action</key>
					<integer>27</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>48F5074F-8A3F-4E96-AF2F-40FE3CB79237</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Left Option Key Changeable</key>
			<false/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Hotkey Window</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>ComicCodeLigaturesNF-Regular 16</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>24</integer>
			<key>Screen</key>
			<integer>-2</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.94760049999999996</real>
				<key>Green Component</key>
				<real>0.94760049999999996</real>
				<key>Red Component</key>
				<real>0.94760049999999996</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51530609999999999</real>
				<key>Green Component</key>
				<real>0.22248570000000001</real>
				<key>Red Component</key>
				<real>0.20990739999999999</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.10000000000000001</real>
			<key>Triggers</key>
			<array/>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use libtickit protocol</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>0.90000000000000002</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>9</integer>
			<key>Working Directory</key>
			<string>/Users/pfyu</string>
		</dict>
	</array>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<true/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PassOnControlClick</key>
	<true/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreserveWindowSizeWhenTabBarVisibilityChanges</key>
	<true/>
	<key>Print In Black And White</key>
	<true/>
	<key>QuitWhenAllWindowsClosed</key>
	<false/>
	<key>RightCommand</key>
	<integer>8</integer>
	<key>SmartPlacement</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>SwitchTabModifier</key>
	<integer>5</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>6</integer>
	<key>TabViewType</key>
	<integer>1</integer>
	<key>UIElementRequiresHotkeys</key>
	<true/>
	<key>UseBorder</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
