SUBSYSTEM=="usb", ATTR{idVendor}=="2a70", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="2a70",ATTR{idProduct}=="4ee7",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="2a70",ATTR{idProduct}=="4ee7",SYMLINK+="android_fastboot"
