[Unit]
Description=Boot Directory which is bind mounted to /esp/EFI/archlinux
ConditionPathIsSymbolicLink=!/boot
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/esp/EFI/archlinux
Where=/boot
Type=vfat
Options=bind

[Install]
WantedBy=local-fs.target
