[Unit]
Description=Update timezone info based on geoip location
Wants=network-online.target
After=network-online.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tzupdate

[Install]
WantedBy=multi-user.target
